html, body {
  background: #fff;
  height: 100%; }

.App {
  color: #222; }
  .App a {
    color: #222; }
  .App .mainContent h1 {
    margin-top: 0;
    font-weight: bold;
    color: #005699;
    font-size: 2em; }
  .App .mainContent h2 {
    font-size: 1.5em;
    font-weight: bold; }
  .App .mainContent h3 {
    font-size: 1.3em;
    font-weight: bold; }
  .App .mainContent h4 {
    font-size: 1.4em; }
  .App .mainContent h5 {
    font-size: 1.2em; }
  .App .mainContent h6 {
    font-size: 1.2em; }
  .App hr {
    background-color: #005699;
    border-color: #005699; }
