.main-page-header {
  background: #015289;
  padding: 1em;
  color: #fff; }
  .main-page-header a {
    color: inherit; }
  .main-page-header h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em; }

nav {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding: 1em 1em 0; }
  nav li {
    margin-bottom: 1em; }
  nav a {
    display: block; }

ul {
  display: none; }

button {
  display: block; }

ul.is-active {
  display: block; }

@media (min-width: 700px) {
  .main-page-header__button {
    display: none; }
  .main-page-header__nav {
    padding-left: 0; }
    .main-page-header__nav ul {
      display: block; }
      .main-page-header__nav ul li {
        display: inline-block;
        margin-right: 1em; } }
