.main-page-header {
  background: #015289;
  padding: 1em;
  color: #fff;
  a {
    color: inherit;
  }
  h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}
nav {
  border-top: 1px solid transparentize(#fff, 0.4);
  padding: 1em 1em 0;
  li {
    margin-bottom: 1em;
  }
  a {
    display: block;
  }
}


ul {
  display: none;
}

button {
  display: block;
}

ul.is-active {
  display: block;
}


@media (min-width: 700px) {
  .main-page-header {
    &__button {
      display: none;
    }
    &__nav {
      padding-left: 0;
      ul {
        display: block;
        li {
          display: inline-block;
          margin-right: 1em;
        }
      }
    }
  }
}